body                      { font-family: sans-serif; 
			    background-color: white; }

table                     { border-collapse: collapse; 
			    margin-bottom: 1em;
			    background-color: white; }
table, tr, td, th         { border: 1px solid #444; }
td, th                    { padding: 4px;
			    font-weight: normal;
			    text-align: left; }

.diagnostic               { font-family: monospace;
			    white-space: pre;
                            padding: 0.25em; }

.suite                    { padding: 0.25em; }

.failed                   { border: 1px solid red;
                            background-color: #ffaaaa; }
.passed                   { background-color: #aaffaa; }
.assert                   { padding: 0.2em;
			    margin-left: 3em; 
			    margin-right: 3em; }
.summary                  { padding: 0.25em; }